{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Movie</title>
    {% include 'common/layout.html' %}
    <link rel="stylesheet" href="{% static 'css/edit_movie.css' %}">
</head>
<body>
{% include 'common/nav.html' %}


<div class="container mt-5">
    <div class="card shadow-sm" style="background-color: #011E2D; color:white; border:2px solid white;">
        <div class="card-header bg-secondary" style="background-color: #FDFA89 !important;">
            <h2 class="mb-0" style="background-color: #FDFA89;">Modify your movie</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                
                <!-- Row for director and genre choices -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="{{ form.director.id_for_label }}">Manage the Director</label>
                            {{ form.director }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="{{ form.genre_choices.id_for_label }}">Manage the Genre</label>
                            {{ form.genre_choices }}
                        </div>
                    </div>
                </div>

                <!-- Render the other form fields below -->
                <div class="form-group">
                    <label for="{{ form.title.id_for_label }}"> Manage the Title</label>
                    {{ form.title }}
                </div>

                <div class="form-group">
                    <label for="{{ form.description.id_for_label }}">Manage the Description</label>
                    {{ form.description }}
                </div>

                <div class="form-group">
                    <label for="{{ form.picture_url.id_for_label }}">Manage the Picture URL</label>
                    {{ form.picture_url }}
                </div>

                <!-- Submit buttons -->
                <div class="d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-success me-2 edit-movie-btn" style="margin-right: 1.5rem">Save</button>
                    <a href="{% url 'movie-details' movie.id %}" class="btn btn-secondary back-movie-btn">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% include 'common/footer.html' %}
</body>
</html>

