{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Details</title>
    {% include 'common/layout.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/movie_details.css' %}">
</head>
<body>
{% include 'common/nav.html' %}

<div class="container mt-5">
    <!-- user authentication check and form  -->
    {% if user.is_authenticated %}
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title text-center">Choose a Different Option for <strong>{{ movie.title }}</strong></h5>
                <form id="update-option-form" method="POST" action="{% url 'movie-option' movie.id %}" class="d-flex flex-column align-items-center">
                    {% csrf_token %}
                    <div class="text-center form-group w-100 mb-3">
                        <button type="submit" class="btn btn-secondary w-20 save-option-btn">Save Option</button>
                        <label for="optionSelect" class="form-label">Browse and Choose options:</label>
                        <select id="optionSelect" name="option" class="form-select">
                            {% for option_pick, option_description in status_options %}
                                <option value="{{ option_pick }}"
                                        {% if current_option == option_pick %}selected{% endif %}>
                                    {{ option_description }}
                                </option>
                            {% endfor %}
                        </select>
                        {% if request.user == movie.user %}
                            <a href="{% url 'movie-edit' movie.id %}" class="btn btn-secondary btn-edit-movie">Edit</a>
                            <a href="{% url 'movie-delete' movie.id %}" class="btn btn-danger btn-delete-movie">Delete</a>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    {% endif %}

    <!-- Movie Details Section Below the Form -->
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8 d-flex flex-column align-items-center justify-content-center order-md-1">
                    <h5><strong>{{ movie.title }}</strong></h5>
                    <a href="{% url 'director-details' movie.director.id %}"
                              class="text-primary text-decoration-underline">{{ movie.director.get_full_name }}</a>
                    {% if movie.genre_choices != 'Other genres' %}
                                    <h6>Genre: {{ movie.genre_choices }}</h6>
                                {% else %}
                                    <h6>Genre: Not specified</h6>
                    {% endif %}
                    <p class="card-text mt-3 text-center">{{ movie.description }}</p>
                </div>
                <div class="col-md-4 d-flex justify-content-center align-items-center order-md-2">
                    <img src="{{ movie.picture_url }}" class="img-fluid rounded" alt="Movie Image"
                         style="max-width: 100%; max-height: 400px; object-fit: cover;">
                </div>
            </div>
        </div>
    </div>

</div>

{% include 'common/footer.html' %}
</body>
</html>
