{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Details</title>
    {% include 'common/layout.html' %}
    <link rel="stylesheet" href="{% static 'css/account_details.css' %}">
</head>
<body>
{% include 'common/nav.html' %}

<div class="container mt-5 account-details-container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-3 shadow-sm">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">First name: <strong>{{ movie_user.first_name }}</strong> Last name: <strong>{{ movie_user.last_name }}</strong></h5>
                            <p class="card-text">Username: <strong>{{ movie_user.username }}</strong></p>
                            {% if request.user == movie_user or request.user.is_superuser or request.user.is_staff %}
                                <p class="card-text">Email: <strong>{{ movie_user.email }}</strong></p>
                                <div class="btn-group mt-3" role="group">
                                    <a href="{% url 'edit-account' movie_user.id %}" class="btn btn-secondary edit-user-btn">Edit</a>
                                    <a href="{% url 'delete-account' movie_user.id %}" class="btn btn-danger delete-user-btn">Delete</a>
                                    <a href="{% url 'homepage' %}" class="btn btn-dark back-user-btn">Back</a>
                                </div>
                            {% else %}
                                <a href="{% url 'homepage' %}" class="btn btn-dark back-user-btn">Back</a>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-md-4 d-flex align-items-center justify-content-end user-profile-pic">
                        {% if movie_user.picture_url %}
                            <img src="{{ movie_user.picture_url }}"
                                 class="img-fluid rounded border border-secondary shadow-sm"
                                 alt="MovieUser Picture" style="max-width: 100%; max-height: 200px; object-fit: cover;">
                        {% else %}
                            <img src="{% static 'images/default_user_png.png' %}"
                                 class="img-fluid rounded border border-secondary shadow-sm user-profile-pic"
                                 alt="No Picture Available" style="max-width: 100%; max-height: 200px; object-fit: cover;">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'common/footer.html' %}
</body>
</html>
