{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    {% include 'common/layout.html' %}
    <link rel="stylesheet" href="{% static 'css/logout.css' %}">
</head>
<body>
    {% include 'common/nav.html' %}
    <div class="container mt-5 d-flex justify-content-center align-items-center main-container"  style="min-height: 80vh;">
        <div class="card" style="width: 600px;">
            <div class="card-header text-center" style="background-color: #011E2D;">
                <img src="{% static 'images/logout.gif' %}" alt="LogIn" class="img-fluid mx-auto d-block"
                     style="max-height:100px; border-radius: 50px">
            </div>
            <div class="card-body text-center d-flex flex-column justify-content-center align-items-center" style="height: 200px; background-color: #011E2D">
                <p>Are you certain you want to sign out of your account?</p>
                <div class="d-flex justify-content-center">
                     <form method="post" action="{% url 'logout' %}" style="margin-right: 10px;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger mr-2">Confirm</button>
                    </form>
                    <a href="{% url 'homepage' %}" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </div>
    </div>


    {% include 'common/footer.html' %}
</body>
</html>
