.container {
    max-width: 1200px;
    font-family: 'Arial', sans-serif;
}

.mt-5 {
    margin-top: 2rem !important;
    margin-bottom: 105px;
}

.card-header {
    padding: 1.25rem;

}

.bg-secondary {
    background-color: #F8FD8A !important;
    border-bottom: 2px solid white;
}

.card {
    background-color: #011E2D;
    color: white;
    border: 2px solid white;
}


.card-footer {
    display: flex;
    justify-content: center;
    gap:10px;
    background-color:#F8FD8A;
    border-top: 2px solid white;
}

.create-movie-back {
    padding: 0.75rem;
    background-color: #01B0EE;
    border-radius: 25px;
    color: white;
    border:none;
}

.create-movie-back:hover {
    background-color: #45a049;
}

.create-movie-btn {
    background-color: #01B0EE;
    margin-right: 5px;
    border-radius: 25px;
    color: white;
    border:none;
}

.create-movie-btn:hover {
    background-color: #45a049;;
}

.helptext {
    font-family: 'Roboto', sans-serif;
    color: #ff7171;
}

.errorlist {
    font-family: 'Roboto', sans-serif;
    padding-left: 21px;
    color:red;
}

.btn-generate-bio {
    background-color: #01B0EE;
    margin-right: 5px;
    border-radius: 25px;
    color: white;
    border:none;
}

.btn-generate-bio:hover {
    background-color: #45a049;;
}

.generate-bio {
    margin-top: 0 !important;
    margin-bottom: 0;
}