.delete-account-container {
    width: 100%;
    max-width: 600px; /* Adjust this value as necessary */
    margin: auto;
}

.card {
    color:white;
    background-color: #011E2D;
    width: 100%;
}

.btn-delete-account {
    background-color: #dc3545;
    border-radius: 25px;
    color: white;
    border:none;
}

.btn-delete-account:hover {
    background-color: #45a049;
}

.btn-back-account {
    background-color: #FDFA89;
    border-radius: 25px;
    color: white;
    border:none;
}

.btn-back-account:hover {
    background-color: #45a049;
}

.delete-permanently{
    font-size: 2rem;
}