.delete-account-container {
    border: 2px solid white;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.card {
    color:white;
    background-color: #011E2D;
    width: 100%;
}

.mt-5 {
    margin-top: 18rem !important;
}

.btn-delete-account {
    background-color: #dc3545;
    border-radius: 25px;
    color: white;
    border:none;
}

.btn-delete-account:hover {
    background-color: #45a049;
}

.btn-back-account {
    background-color: #FDFA89;
    border-radius: 25px;
    color: white;
    border:none;
}

.btn-back-account:hover {
    background-color: #45a049;
}

.delete-permanently{
    font-size: 2rem;
}