
.edit-movie-btn {
    background-color: #01B0EE;
     color: white;
     border-radius: 25px;
     border:none;
}

.edit-movie-btn:hover {
    background-color: #45a049;
}

.back-movie-btn {
    background-color: #FDFA89;
     color: white;
     border-radius: 25px;
     border:none;
}

.back-movie-btn:hover {
    background-color: #45a049;
}

.form-select {
    background-color: #011E2D;
    color: white;
    border: 1px solid #FFFFFF;
    border-radius: 4px; /* Rounded corners */
    padding: 4px; /* Padding inside the dropdown */
}

