.mt-5 {
    margin-top: 2rem !important;
    margin-bottom: 105px;
}

.rounded {
    border-radius: 1.25rem !important;
    border: 2px solid #fff;
}

.card {
    border: 2px solid white;
    font-family: 'Arial', sans-serif;
    background-color: #011E2D;
    color:white;
}

.text-primary {
    font-size: 1.2rem;
    color: white !important;

}

.text-primary:hover {
    color: white !important;

}

.save-option-btn {
    background-color: #01B0EE;
     color: white;
     border-radius: 25px;
     border:none;
}

.save-option-btn:hover {
    background-color: #45a049;
}

.btn-edit-movie {
     background-color: #01B0EE;
     color: white;
     border-radius: 25px;
     border:none;
 }

.btn-edit-movie:hover {
     background-color: #45a049;
 }

.btn-delete-movie {
    background-color: #dc3545;
    border-radius: 25px;
    color: white;
    border:none;
}

.btn-delete-movie:hover {
    background-color: #45a049;
}

.form-select {
    color:white;
    background-color: #011E2D;
}