.mt-5 {
    margin-top: 12rem !important;
    margin-bottom: 105px;
}

.rounded {
    border-radius: 1.25rem !important;
    border: 2px solid #fff;
}

.card {
    border: 2px solid white;
    font-family: 'Arial', sans-serif;
    background-color: #011E2D;
    color:white;
}

.text-primary {
    font-size: 1.2rem;
    color: white !important;

}

.text-primary:hover {
    color: white !important;

}