.navbar {
    font-family: 'Roboto', sans-serif;
}

.custom-navbar {
    border-color: #FAFC89;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.custom-search-button {
    background-color: #07B0F8;
    border-color: #FAFC89;
    color: white;
}

.custom-search-button:hover {
    background-color: green;
    border-color: #e64a19;
}

.custom-dropdown {
    background-color: #011E2D;
    border: 1px solid #FAFFFE;
}

.custom-dropdown .dropdown-item {
    color: #FAFFFE;
}

.custom-dropdown .dropdown-item:hover {
    background-color: #e9ecef;
    color: #343a40;
}

.custom-dropdown .dropdown-divider {
    border-top: 1px solid #FAFC89;
}