.container {
    margin-bottom: 105px;
}

.card {
    border-radius: 25px;

}

.card-header {
     border-bottom: 2px solid white;
}

.card-body {
    color: white;
    background-color: #011E2D;
    font-family: 'Arial', sans-serif;
}

.custom-btn {
    background-color: #01B0EE;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border:none;
}

.custom-btn:hover {
    background-color: #45a049;
    transform: scale(1.05);
    border:none;
}

.custom-btn:active {
    background-color: #388e3c;
    transform: scale(0.98);
}

.custom-btn:focus {
    outline: none;

}

input:focus, select:focus, textarea:focus {
    border-color: #ADD8E6;
    outline: none;
    box-shadow: 0 0 5px rgba(173, 216, 230, 0.8);
}

.form-group input, .form-group select, .form-group textarea {
    border: 1px solid #ADD8E6;
    padding: 2px;
    width: 100%;
    border-radius: 5px;
}

