.container {
    margin-bottom: 105px;
}

.search-result-text {
    font-size: 2rem;
    color:white;
    background-color: #011E2D;
    border:2px solid white;
}

.bg-success {
    background-color: #011E2D !important;
}