{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a Director</title>
    {% include 'common/layout.html' %}
    <link rel="stylesheet" href="{% static 'css/create_director.css' %}">
</head>
<body>
{% include 'common/nav.html' %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-secondary text-white text-center">
                    <h5>Create the new Director</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_div }}
                        <div class="d-flex justify-content-center mt-3 create-director-container">
                            <button type="submit" class="btn btn-info px-4 create-director-btn-create">Create</button>
                        </div>
                    </form>
                    <div class="container mt-5 text-center generate-bio">
                        <form id="wiki_api" class="mt-4">
                                <button type="submit" class="btn btn-primary btn-generate-bio">Generate</button>
                        </form>
                        <p id="missing-content"><strong>Ensure that both the first and last name are entered. Be aware that some information in the biography may be incomplete if the full name is not provided or if the name is not written correctly!</strong></p>
                    </div>
                </div>

                <div class="card-footer">
                    <a href="{% url 'homepage' %}" class="btn btn-secondary btn-sm create-director-btn-back">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'common/footer.html' %}
<script src="{% static 'js/directors_api.js' %}"></script>
</body>
</html>
